.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #fff;
	height: 40px;
	padding: 0 19px;
	border-radius: 8px;
	background: linear-gradient(to bottom, #6cd6e2, #0dbbd8);
	transition: transform 0.25s;

	&:hover {
		transform: translate(0, -5px);
	}
}