.crumbs {
	padding: 10px 0;
	border-bottom: 1px solid #EBEBEB;

	&__list {
		color: #BFBFBF;
		font-size: 14px;
		line-height: 18px;
		display: flex;
		flex-wrap: wrap;

		li {

			&:nth-last-child(n + 2) {

				&::after {
					content: '/';
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}

		a {

			&:hover {
				text-decoration: underline;
			}
		}
	}
}