.hero {
	padding: 30px 0;
	position: relative;

	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.slick-list,
		.slick-track {
			height: 100%;
		}
	}

	&__slider-item {
		background-image: url('../img/hero-bg.jpg');
		background-size: cover;
		background-position: center 0;
	}

	&__container {
		position: relative;
	}

	&__main {
		display: flex;
	}

	&__main-content {
		max-width: 490px;
	}

	&__title {
		font-size: 48px;
		line-height: normal;
		font-weight: 600;

		b {
			text-transform: uppercase;
		}

		span {
			color: #0dbbd8;
			font-weight: 700;
		}
	}

	&__subtitle {
		font-size: 36px;
		line-height: 48px;
		font-weight: 500;
		margin-top: 5px;
	}

	&__descr {
		font-size: 22px;
		line-height: 30px;
		margin-top: 35px;

		b {
			font-weight: 600;
		}
	}

	&__calc-button {
		margin-top: 40px;
	}

	&__gift {
		margin-top: 120px;
		margin-left: 113px;
		display: flex;
	}

	&__gift-text {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		margin-top: 75px;

		b {
			text-transform: uppercase;
		}
	}

	&__info-list {
		display: flex;
	}

	&__info-item {
		margin-top: 55px;
		max-width: 380px;

		&:nth-child(n + 2) {
			margin-left: 100px;
		}
	}

	&__info-head {
		display: flex;
		align-items: center;
	}

	&__info-icon {
		@include flex-center;
		@include circle(47px);
		flex-shrink: 0;
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(200, 200, 200, 0.64);
	}

	&__info-title {
		margin-left: 13px;
		font-size: 18px;
		line-height: 21px;
		font-weight: 600;
	}

	&__info-text {
		margin-top: 20px;
		font-size: 16px;
		line-height: 21px;
	}

	&__slider-nav {
		position: relative;
	}

	&__slider-nav-box {
		position: absolute;
		right: 15px;
		bottom: 12px;
		display: flex;
	}

	&__slider-prev,
	&__slider-next {
		@include flex-center;
		@include circle(47px);
		border: none;
		background-color: rgba(#fff, 0.7);
		transition: background-color 0.25s;
		color: #0dbbd8;
		box-shadow: 0 10px 20px rgba(#c8c8c8, 0.64);

		&:hover {
			background-color: #fff;
		}
	}

	&__slider-prev {
		margin-right: 21px;
	}
}

@include media-breakpoint-down(lg) {
	.hero {

		&__gift {
			margin-left: 50px;
		}
	}
}

@include media-breakpoint-down(md) {
	.hero {

		&__main {
			flex-wrap: wrap;
			justify-content: center;
		}

		&__title {
			font-size: 28px;
			text-align: center;
		}

		&__subtitle {
			font-size: 20px;
			line-height: 24px;
			text-align: center;
		}

		&__descr {
			font-size: 18px;
			line-height: 24px;
			margin-top: 20px;
			text-align: center;
		}

		&__calc-button {
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
		}

		&__gift {
			margin-left: 0;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			margin-top: 40px;
		}

		&__gift-text {
			width: 100%;
			margin-top: -20px;
		}

		&__info-list {
			flex-wrap: wrap;
		}

		&__info-item {
			width: 100%;
			margin-top: 30px;

			&:nth-child(n + 2) {
				margin-left: 0;
			}
		}

		&__info-text {

			br {
				display: none;
			}
		}

		&__slider-nav {
			display: none;
		}
	}
}