.map-section {
	position: relative;

	&__col-left {
		position: absolute;
		top: 0;
		left: 0;
		right: 50%;
		bottom: 0;
		padding-right: 15px;
	}

	&__col-right {
		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		bottom: 0;
		padding-left: 15px;
	}

	&__map-left,
	&__map-right {
		height: 100%;
	}

	&__container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__form {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-down(md) {
	.map-section {

		&__col-left,
		&__col-right {
			position: static;
			height: 250px;
		}

		&__container {
			padding: 0 0 30px;
		}

		&__form {
			box-shadow: none;
		}
	}
}