.map-section {
	position: relative;

	&__map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__form {
		position: relative;
	}
}

@include media-breakpoint-down(md) {
	.map-section {

		&__map {
			position: static;
			height: 250px;
		}

		&__container {
			padding: 0 0 30px;
		}

		&__form {
			box-shadow: none;
		}
	}
}